{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Nový rozvrh{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">

    <label>
        Názov rozvrhu
        <input type="text" name="timetableName" required>
    </label>

    <table>
        <thead id="timetableColumns">
            <tr id="timetableHead">
                <th>Deň</th>
                <td>
                    <button id="addClassesButton" type="button">+</button>
                    <button id="removeClassesButton" type="button">-</button>
                </td>
            </tr>
        </thead>
        <tbody id="timetableRows">

        </tbody>

    </table>

    <input type="submit" value="Potvrdiť">
</form>

<template id="columnTemplate">
    <td id="column">
        <input id="timeInput" type="time">
    </td>
</template>

<template id="classTemplate">
    <td id="class">
        <input id="timeInput" type="time" required>
    </td>
</template>

<template id="timetableRowTemplate">
    <tr id="timetableRow">
        <th id="timetableRowDayLabel"></th>

        <td>
            <button id="addClassButton" type="button">+</button>
            <button id="removeClassButton" type="button">-</button>
        </td>
    </tr>
</template>

<script>
    const days_of_week = JSON.parse('{{ days_of_week|tojson|safe }}')
    var column_count = 0;
    var column_desired_count = 4;
    var timetable_columns = [4, 4, 4, 4, 4];

    function createRow(day) {
        const elem = document.querySelector('#timetableRowTemplate');
        const new_row = elem.content.cloneNode(true);
        new_row.querySelector('#timetableRowDayLabel').innerText = days_of_week[day];
        new_row.querySelector('#timetableRow').id = 'timetableRow' + day;
        new_row.querySelector('#addClassButton').id = 'addClassButton' + day;
        new_row.querySelector('#removeClassButton').id = 'removeClassButton' + day;
        document.getElementById('timetableRows').appendChild(new_row);
        return new_row;
    };

    function createClass(day, i) {
        const elem = document.querySelector('#classTemplate');
        const new_class = elem.content.cloneNode(true);
        new_class.querySelector('#class').id = day + 'class' + i;
        new_class.querySelector('#timeInput').name = day + 'timeInput' + i;
        new_class.querySelector('#timeInput').id = day + 'timeInput' + i;
        document.getElementById('timetableRow' + day).appendChild(new_class);
    };

    function removeClass(day, i) {
        const child = document.getElementById(day + 'class' + i);
        document.getElementById('timetableRow' + day).removeChild(child);
    };

    function setColumnInputTime(i) {
        let time = document.getElementById('columnTimeInput' + i).value;
        for (let d = 0; d < 5; d++) {
            let time_input = document.getElementById(d + 'timeInput' + i);
            if (time_input != null)
                time_input.value = time;
        }
    };

    function addColumn(i) {
        const elem = document.querySelector('#columnTemplate');
        const new_col = elem.content.cloneNode(true);
        new_col.querySelector('#column').id = 'column' + i;
        new_col.querySelector('#timeInput').id = 'columnTimeInput' + i;
        new_col.querySelector('#columnTimeInput' + i).addEventListener('input', function () {
            setColumnInputTime(i);
        });
        document.getElementById('timetableHead').appendChild(new_col);
    };

    function removeColumn(i) {
        const child = document.getElementById('column' + i);
        document.getElementById('timetableHead').removeChild(child);
    };

    function fixColumns() {
        let i = column_count;
        while (column_count != column_desired_count) {
            if (column_count < column_desired_count) {
                addColumn(i);
                i++;
                column_count++;
            } else {
                i--;
                column_count--;
                removeColumn(i);
            }
        }
    };

    function changeColCount(day_i, x) {
        timetable_columns[day_i] += x;
        if (timetable_columns.reduce((a, b) => Math.max(a, b), -Infinity) != column_desired_count)
            column_desired_count += x;
    };

    for (let day_i = 0; day_i < 5; day_i++) {
        createRow(day_i)

        for (let i = 0; i < 4; i++) {
            createClass(day_i, i);
        }
        document.getElementById('addClassButton' + day_i).addEventListener('click', function () {
            createClass(day_i, timetable_columns[day_i])
            changeColCount(day_i, 1);
            fixColumns();
        })
        document.getElementById('removeClassButton' + day_i).addEventListener('click', function () {
            if (timetable_columns[day_i] > 0) {
                changeColCount(day_i, -1);
                removeClass(day_i, timetable_columns[day_i])
                fixColumns();
            }
        })
    };

    document.getElementById('addClassesButton').addEventListener('click', function () {
        for (let i = 0; i < 5; i++) {
            createClass(i, timetable_columns[i]);
            changeColCount(i, 1);
            fixColumns();
        }
    });

    document.getElementById('removeClassesButton').addEventListener('click', function () {
        for (let i = 0; i < 5; i++) {
            changeColCount(i, -1);
            removeClass(i, timetable_columns[i]);
            fixColumns();
        }
    });

    fixColumns();
</script>

{% endblock %}