{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Vyberte si hodiny{% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="timetable" method="post">

    <table>
        <thead>
            <tr>
                <th>Deň</th>
                {% for class in classes %}
                <th>{{ class }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% for day in range(days|length) %}
        <tr>
            <th>{{days_of_week[day]}}</th>
            {% for class in range(classes|length) %}
            <td class="container">
                <input class="timetable" type="checkbox" name="option" value="{{ day }},{{ class }}">
            </td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
    <br>
    <label for="name">Meno</label>
    <input name="name" id="name" required>
    <label for="surname">Priezvisko</label>
    <input name="surname" id="surname" required>
    <input type="submit" value="Potvrdiť">
</form>

<script>
    document.getElementById('timetable').addEventListener('submit', function (event) {
        const checkboxes = document.querySelectorAll('input[name="option"]:checked');
        if (checkboxes.length !== 2) {
            event.preventDefault();
            alert('You must select exactly two options.');
        }
    });
</script>

{% endblock %}