{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Vyberte si hodiny{% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="timetable" method="post">

    <table>
        <thead>
            <tr>
                <th>Deň</th>
                {% for _ in range(timetable[2]+1) %}
                <th>{{loop.index}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in timetable[3] %}
            {% set day = loop.index0 %}
            <tr>
                <th>{{days_of_week[loop.index-1]}}</th>
                {% for class in row %}
                <td>
                    {{ class.time }}
                    {% if class.time %}
                    <input type="checkbox" id="option" name="{{ day }},{{ loop.index0 }}" class="{{day}} {{loop.index0}}">
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <p>Meno</p>
    <input name="name" id="name" required>
    <br>
    <p>Priezvisko</p>
    <input name="surname" id="surname" required>
    <br>
    <br>
    <br>
    <input type="submit" value="Potvrdiť">
</form>

<script>
    function isSelectionCorrect(checkboxes) {
        if (checkboxes.length !== 2) {
            event.preventDefault();
            alert('You must select exactly two options.');
        }
        let days_selected = [];
        checkboxes.forEach((class_selected) => {
            if (days_selected.includes(class_selected.classList[0])) {
                event.preventDefault();
                alert('Len jedna hodina denne.');
            }
            days_selected.push(class_selected.classList[0]);
        })
    }

    document.getElementById('timetable').addEventListener('submit', function (event) {
        const checkboxes = document.querySelectorAll('input[id="option"]:checked');
        isSelectionCorrect(checkboxes)

    });
</script>

{% endblock %}